div.container {
    margin-left: auto; 
    margin-right: auto;
    width: 800px;
    position: relative; 
    padding: 10px;
    background-color: #00FFFF;  
}
input {
	padding: 8px;
	border: 1px solid #909090;
	height: 16px;
}

input#kod {
	width: 80px;
}
input#tiskarna {
	width: 200px;
}
input#pocet {
	width: 100px;
}
button#potvrdit {
	padding: 8px;
	height: 38px;
  width: 200px;
}
button#reset {
	padding: 8px;
	height: 38px;
  width: 120px;
}

button {
	background: #0000FF;
	color: #FFFFFF;
} 
button:hover {
	background: #FF0000;
} 
button:active {
	background: #00FF00;
}
 
span.kod {
	padding: 8px;
	height: 16px;
  width: 80px;
  display: inline-block;
  border-bottom-width: 0px;
}
span.tiskarna {
	padding: 8px;
	height: 16px;
  width: 200px;
  display: inline-block;
  border-bottom-width: 0px;
}
span.pocet {
	padding: 8px;
	height: 16px;
  width: 50px;
  display: inline-block;
  border-bottom-width: 0px;
  text-align: right;
}
span {
  padding: 0px;
	height: 33px;
  width: 386px;
  display: inline-block;
  border-bottom-style: solid;       
  border-bottom-width: 1px; 
}
