div.container {
    margin-left: auto; 
    margin-right: auto;
    width: 800px;
    position: relative; 
    padding: 10px;  
}
input {
	padding: 8px;
	border: 1px solid #909090;
	height: 16px;
}

input#kod {
	width: 100px;
}
input#tiskarna {
	width: 300px;
}
input#pocet {
	width: 100px;
}
button#potvrdit {
	padding: 8px;
	height: 38px;
  width: 200px;
}
